.hero-fashion {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background22.png);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 30px 0 0 0;
  overflow: hidden;
}
.hero-fashion .navbar-default {
  background: rgba(29, 33, 61, 0.5);
  border: none;
  padding: 0 60px;
}
.hero-fashion .navbar-default .navbar-nav li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.hero-fashion .navbar-default .navbar-brand {
  width: 155px;
}
.hero-fashion .navbar-default .navbar-brand img {
  width: 30px;
  position: relative;
  z-index: 10;
}
.hero-fashion .sidebar {
  width: 155px;
  height: 100vh;
  background: rgba(29, 31, 38, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.hero-fashion .sidebar .search-icon {
  display: block;
  margin: 120px auto 0;
}
.hero-fashion .sidebar .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hero-fashion .sidebar .social-links svg {
  height: 15px;
  margin-bottom: 30px;
}
.hero-fashion .sidebar .social-links svg path {
  fill: #fff;
}
.hero-fashion .sidebar .info-icon {
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.hero-fashion .pub-container {
  position: absolute;
  left: 14%;
  top: 57%;
  transform: translateY(-50%);
  max-width: 600px;
  overflow: hidden;
}
.hero-fashion .slider {
  display: inline-flex;
  transition: 0.5s;
}
.hero-fashion .slider .pub {
  width: 600px;
  overflow: hidden;
}
.hero-fashion .slider .pub h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 100;
  margin: 24px 0 15px 0;
}
.hero-fashion .slider .pub p {
  font-size: 20px;
  color: #FFF;
}
.hero-fashion .slider .pub .btn {
  display: inline-block;
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 98, 68, 0.15);
}
.hero-fashion .slider .pub .arrow-icons {
  display: flex;
  width: 110px;
  justify-content: space-between;
}
.hero-fashion .slider .pub .arrow-icons svg {
  height: 45px;
  fill: #fff;
}
.hero-fashion .controller {
  width: 1px;
  height: 320px;
  display: block;
  background: #c0c0c0;
  position: absolute;
  top: 55%;
  right: 50px;
  transform: translateY(-50%);
}
.hero-fashion .controller div[id*=line] {
  height: 80px;
  width: 10px;
  cursor: pointer;
  transform: translateX(-50%);
}
.hero-fashion .controller #active {
  width: 5px;
  height: 80px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transition: 0.5s;
}
.hero-fashion .right-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 64px;
  top: 50%;
  transform: translateY(-50px);
}
.hero-fashion .right-col p {
  color: #fff;
  font-size: 16px;
}
.hero-fashion svg.play, .hero-fashion svg.pause {
  height: 65px;
  fill: #fff;
}
.hero-fashion .bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: -70px;
}
.hero-fashion .bubbles img {
  width: 50px;
  animation: bubbles 7s linear infinite;
}
.hero-fashion .bubbles img:nth-child(1) {
  animation-delay: 2s;
}
.hero-fashion .bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.hero-fashion .bubbles img:nth-child(3) {
  animation-delay: 3s;
}
.hero-fashion .bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.hero-fashion .bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.hero-fashion .bubbles img:nth-child(6) {
  animation-delay: 6s;
}
.hero-fashion .bubbles img:nth-child(7) {
  animation-delay: 7s;
}
@keyframes bubbles {
  0% {
    transform: translateY(0vh);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .hero-fashion .sidebar {
    width: 40px;
  }
  .hero-fashion .pub-container {
    top: 45%;
  }
  .hero-fashion .right-col {
    left: 64px;
    top: 85%;
  }
  .hero-fashion .slider .pub h1 {
    font-size: 30px;
  }
  .hero-fashion .slider .pub p {
    width: 50%;
    font-size: 18px;
  }
}
.gallery-video {
  position: relative;
}
.gallery-video .feature-img {
  background: #efefef;
  margin: 5px 0;
  border-radius: 6px;
}
.gallery-video .feature-img .small-img {
  padding-left: 0;
}
.gallery-video .feature-img .small-img .play-btn {
  width: 35px;
}
.gallery-video .feature-img .play-btn {
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.gallery-video .feature-img p {
  color: #707070;
  line-height: 22px;
  font-size: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 100px;
  display: flex;
  align-items: center;
}
.gallery-video .feature-img img {
  border-radius: 6px;
}
.gallery-video .video-player {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  cursor: pointer;
  transition: 0.5s;
}
.gallery-video .video-player .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.gallery-video video:focus {
  outline: none;
}

.gallery-photo .row {
  display: flex;
}
.gallery-photo .row div[class*=col] {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
}
.gallery-photo .row h2, .gallery-photo .row p {
  color: #fff;
  transition: all 0.6s;
}
.gallery-photo .row .caption {
  max-width: 230px;
  font-size: 12px;
  margin: 28px 0;
  transition: all 0.6s;
  display: none;
}
.gallery-photo .row .caption button {
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  padding: 8px 18px;
  color: #fff;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
}
.gallery-photo .row div[class*=col].active:hover {
  flex-grow: 4.2;
}
.gallery-photo .row div[class*=col].active {
  flex-grow: 5.2;
}
.gallery-photo .row div[class*=col]:hover .caption {
  display: block;
}
.gallery-photo .row div[class*=col]:hover h2 {
  text-align: left;
}

.title-style {
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}
.title-style::before, .title-style::after {
  content: "";
  height: 100px;
  width: 200px;
  background-color: #f992a6;
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}
.title-style::after {
  top: -10px;
  left: -10px;
}

.fashion-trends {
  padding: 100px 0;
}
.fashion-trends .fashion-box {
  margin: 80px 0;
}
.fashion-trends .fashion-box h1 {
  padding: 40px 0;
}
.fashion-trends .subtitle {
  margin-bottom: 70px;
  font-size: 15px;
}
.fashion-trends .btn-buy {
  width: 150px;
  padding: 10px 0;
  outline: none;
  border: 0;
  border-radius: 2px;
  position: absolute;
  background: #fff;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  transition: 0.5s;
  opacity: 1;
}
.fashion-trends .trending-box:hover .btn-buy {
  transform: translate(-50%, 50%);
  bottom: 50%;
  opacity: 1;
  z-index: 9999;
}
.fashion-trends .overlay {
  height: 0%;
  width: 320px;
  background: #ed7fd4;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}
.fashion-trends .trending-box:hover .overlay {
  opacity: 0.5;
  height: 100%;
}

/******offer*******/
.offer {
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  height: 430px;
}
.offer .subscribe {
  max-width: 500px;
  margin-top: 80px;
  padding: 60px;
  background: #ffffff8c;
  margin-bottom: 20px;
}
.offer .subscribe a {
  width: 100px;
  display: block;
  color: #fff;
  background: #000;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
.offer img {
  width: 300px;
  height: 400px;
  margin: 100px;
  margin-top: 150px;
}

/******offer*******/
/******************Fashion Blog******************/
.fashion-blog {
  margin: 250px 0 150px 0;
}
.fashion-blog .blog-img {
  margin-top: 50px;
  height: 300px;
  width: 300px;
  display: inline-block;
}
.fashion-blog .blog-img img {
  width: 100%;
  height: 100%;
}
.fashion-blog h5 {
  margin-top: 20px;
  font-weight: 600;
}

/******************Fashion Blog******************/
.fashion-brands {
  margin-bottom: 150px;
}
.fashion-brands .brand-logo {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  margin: 50px auto 30px;
  box-shadow: 0 2px 40px 0 rgba(110, 130, 208, 0.18);
}
.fashion-brands .brand-logo svg {
  width: 100px;
}

/******************Fashion Blog******************/
/******************Footer******************/
footer {
  margin-top: 150px;
  background-color: #f5f6fc;
}
footer h5 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
footer .payement-svg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
footer .payement-svg svg {
  height: 50px;
  cursor: pointer;
}

/******************Footer******************/

/*# sourceMappingURL=style.css.map */
